<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
  	<h1>Movies info page!</h1>
    <!-- <form action= "/movie">
      <input type = "text" name = "movieInfo">-->
  <%= JSON.stringify(stuff) %> 
  </form>
  </body>
</html>
