<!doctype html>
<html>
  <head>
    <title>Movie Search Results</title>
  </head>
  <body>
  	<h1>Results</h1>
   <ul>
   	<% movieList.forEach(function (movie) { %>
   	<li> <a href = "/movie?movieInfo=<%=movie.imdbID%>"> <%= movie.Title %> </a> </li>
    <button>Watch It Later!</button>
  <% }) %>

	</ul>
  </body>
</html>
